<ion-header>
  <ion-navbar dark>
    <ion-title><img src = "images/grocery_app_logo.png" class="logo" /></ion-title>
    <ion-buttons end><button (click)="navGroceryStoreCreate()"><ion-icon name="add"></ion-icon>Add</button></ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<p>Below is a list of Grocery Stores in your area</p>
	<ion-list no-lines>
    	<ion-item-sliding *ngFor="let groceryStoreData of groceryStoreDataSet">
    		<ion-item>
    			<ion-card (click)="navGroceryStoreUpdate(groceryStoreData)">
    				<ion-card-content>
    					<ion-row>
    						<b>{{groceryStoreData.g_store_name}}</b>
						</ion-row>
						<ion-row>
							<p>{{groceryStoreData.g_store_description}}</p>
						</ion-row>
						<ion-row>
							<p>Products:&nbsp;</p>
							<p *ngFor="let products of groceryStoreData.g_store_products">
								{{products.product_name}},&nbsp;
							</p>
						</ion-row>
					</ion-card-content>
				</ion-card>
			</ion-item>
			<ion-item-options class="sliding_buttons">
          		<button danger (click)="deleteGroceryStore(groceryStoreData)"><ion-icon name="trash"></ion-icon>Delete</button>
      		</ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>